<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<div class="container">
  <div class="row">

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

        <div class="card-block">
          <h4 class="card-title">Call Us</h4>
          <p class="card-text">01-800-149-364</p>
          <a class="btn btn-success">Button</a>
        </div>
      </div>

      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

        <div class="card-block">
          <h4 class="card-title">WhatsApp</h4>
          <p class="card-text">+52 614-3-33-33-33</p>
          <a  class="btn btn-success">Button</a>
        </div>
      </div>

      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 .img-fluid">

        <div class="card-block" >
          <h4 class="card-title">Q&A</h4>
          <p class="card-text">leave us a comment</p>
          
          <a  class="btn btn-success">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>