<body>
  <section>
    <div class="container">
      <div class="row vh-100 align-items-center">
        <div class="col-xl-6">
          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

          <form class="mx-1 mx-md-4 ">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <label class="form-label fs-5" for="form3Example1c">Your Name</label>
                <input type="text" id="form3Example1c" class="form-control" placeholder="Enter a full name" />
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <label class="form-label fs-5" for="form3Example3c">Your Email</label>
                <input type="email" id="form3Example3c" class="form-control" placeholder="Enter a email address" />
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <label class="form-label fs-5" for="form3Example4c">Password</label>
                <input type="password" id="form3Example4c" class="form-control" placeholder="Enter password" />
              </div>
            </div>

            <div class="d-flex mx-2 align-items-end mb-3 mb-lg-5">
              <button type="button" class="btn btn-primary btn-lg" id="regisbutton">
                Register
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-2">
          <img src="/assets/img/login.png" class="img-fluid" alt="Sample image" />
        </div>
      </div>
    </div>
  </section>
</body>
<footer class="flex-md-row text-md-start py-4 px-4 px-xl-5">
  <!-- Copyright -->
  <div class="text-white text-center mb-3 mb-md-0">
    Copyright © 2020. All rights reserved.
  </div>
</footer>