<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="img-fluid" alt="" width="100" height="55">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-5 text-light" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 text-light" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 text-light" href="#contact">Contact</a>
          </li>
        </ul>
        <div class="d-grid gap-2 d-md-block">
          <button routerLink="log-in" class="btn btn-light" type="button" style="margin-right: 25px">
            Log In
          </button>
          <button routerLink="sign-up" class="btn btn-light" type="button">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </nav>
</body>
