header {
  width: 100%;
  height: 600px;
  background: #76d9cc;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* n */
header .textos-header {
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-color {
  background: #f2f2f2;
}

footer {
  background: #3a3a3a;
  margin: auto;
  overflow: hidden;
}

