<head>
  <meta name="mphtools-feature" content="compatibilityUI, cameraPrivacyPopup, compatibilityAutoCheck">
  </head>
  <body>
    <div><b>Results</b></div>
    <div id="age">Age: -</div>
    <div id="gender">Gender: -</div>
    <div id="emotion">Emotion: -</div>
    <div class="video-container" *ngIf="!error">
      <video #video id="video"  [width]="WIDTH" [height]="HEIGHT"
      playsinline autoplay></video>
    </div>  
    <div class="wrapper">
      <canvas class="charts" id="chart"></canvas>
    </div>
  