.wrapper {
    position: relatives;
    width: 150%;
    height: 150%;
    pointer-events: none;
}
.charts {
    width: 100%;
    height: 100%;
    max-height: 70%;
    max-width: 70%;
}

.cam{
    width: 20px;
    height: 20px;
}
