#welcometext {
    font-size: xx-large;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#loginbutton {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    cursor: pointer;
}